
body {
    	font-family: "PT Serif", Tahoma;
}

/* Header */
#header {
	position:relative;
	top:0;
	left:0;
	width:100%;
	background-color:#1F4980; /* dark blue */
	height:100px;
}

#headerlogo {
	position:absolute;
	left:85px;
	top:20px;
	cursor:pointer;
}

#header h1{
    position:relative;
        line-height:30pt;
	left:285px;
	top:30px;
	margin:0px;
	padding:0px;
	font-family: "PT Serif", Tahoma;
        color:#FFF;
	font-size:25pt;
/*	font-style:italic;*/
}


/* Navigation */

#navigationbar {
	position:relative;
	width:100%;
	height:50px;
	background-color:#1F4980; /* dark blue */
	margin-bottom:0px;
	margin-top:0px;
        padding-top:1px;
	top:0px;
	left:0;
}

#navigationbar ul{
    list-style-type: none;
}

#navigationbar a{
    color: #FFF;
    position:relative;
    width:231px;
    background-color:#3F69A0;
    color:#FFF;
    text-align:center;
    font-weight:bolder;
    font-size:15pt;
    font-family: "PT Serif", Tahoma;
    height:39px;
    line-height:39px;
    float:left;
    padding-left:0;
    margin-left:7px;
    top:-5px;
    left:39px;
}

#navigationbar .current a {
    color:#002A61;
    }

#navigationbar a:hover {
    background-color:#5F89C0; /* light green */
}

.content {
    padding-left:85px;
    width:80%;
}

.footer {
	position:relative;
	top:0;
	left:0;
	width:100%;
	background-color:#1F4980; /* dark blue */
        padding-top:20px;
        padding-bottom:20px;
        height:152px;
}

.footercontent {
            padding-left:85px;
}

.footerelem {
    color:#FFF;
    position:relative;
    float:left;
    padding-right:15px;
}

.footerelem a {
    color:#FFF;
}

.footerpic {
    position:relative;
    float:left;
    background-color:#FFF;
    width:80px;
    height:80px;
    border-radius:40px;
    color:#fff;
    line-height:80px;
    text-align:center;
    margin:9px;
    margin-top:22px;
}

.footerpic img {
    max-height:70px;
    max-width:70px;
    vertical-align: middle;
    }

a {
    color:#1F4980; /* dark blue */;
    font-weight: bold;
    text-decoration:none;
}


