<html>
<head>
<link rel="stylesheet" text="text/css" href="/contrail.css">
<title>Scalaris</title>
<style type="text/css">
table { width:100%; margin-top:20%; margin-left:20%; border-spacing:50px}
td { vertical-align:top; overflow:hidden; }
</style>
</head>
<body>

url: <%= @url %><br>
error: <%= @error %><br>

</body>
</html>
