.folder .x-tree-node-icon{
		background:transparent url(folder.gif);
	}
	.x-tree-node-expanded .x-tree-node-icon{
		background:transparent url(folder-open.gif);
	}

#tree {
  float: left;
  margin: 5px;
  width: 225px;
  height: 800px;
}

#table {
  float: left;
  margin: 5px;
  width: 675px;
  height: 800px;
}
