/Makefile
/Emakefile
/config.status
/ct_run.ct@*
/all_runs.html
/index.html
/.project
/.settings
/.externalToolBuilders
/.Makefile.swp
/config.log
/variables-ct@*
/erl_crash.dump
/autom4te.cache
/aclocal.m4
/.codepath
*.beam
*~

