/Makefile
/Emakefile
/.Emakefile
/config.status
/ct_run.*ct*@*
/all_runs.html
/index.html
/.externalToolBuilders
/.Makefile.swp
/.make-doc
/variables-ct*@*
/variables-*_ct*@*
/variables-nonode@nohost
/erl_crash.dump
/autom4te.cache
/aclocal.m4
*.beam
*~
/ct_log_cache
/result_increment_10_1000.txt
/result_increment_1_10000.txt
/result_read_10_10000.txt
/result_read_1_100000.txt
/Thumbs.db
/python3-api
/TAGS*
/*.log
ebin/
*.swp
Session.vim
.vimrc
/src/user_default.erl
/ct_default.css
/jquery-latest.js
/jquery.tablesorter.min.js
/contrib/toke
/contrib/erlang_js
contrib/slurm/slurm-*.out
/java-api/target
/cpp-api/scalaris
/cpp-api/ssl-tests
/.maven
/priv/*.so
/priv/*.so.dSYM/
/contrib/log4erl/src/log4erl_lex.erl
/contrib/log4erl/src/log4erl_parser.erl
/cpp-api/tests.dSYM/