language: generic

matrix:
  include:
    - os: osx
      osx_image: xcode9.1
      env:
        - OSX_PACKAGES="boost erlang python python3 ant bash coreutils openssl"
    - os: linux
      sudo: false
      addons:
        apt:
          sources:
            - boost-latest
          packages:
            - automake
            - clang
            - libboost1.55-all-dev
            - python3
            - erlang
            - erlang-dev

install:
  - |
     if [[ $TRAVIS ]] && [[ "X$TRAVIS_OS_NAME" = "Xosx" ]]; then
         brew update > /dev/null

         for pkg in $OSX_PACKAGES; do
           [[ "$(brew ls --versions $pkg)" ]] || brew install --force-bottle $pkg
         done
     fi

script:
  - export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
  - env | grep TRAVIS
  - CXX=clang++ ./configure
  - ls /usr/local/Cellar
  - ls /usr/local/Cellar/openssl
  - ls -l $HOME
  - ls -l /usr/local/etc/openssl
  - touch TAGS.root
  - make
  - make cpp
  - make python
  - make python3
  - make java
