language: generic

matrix:
  include:
    - os: osx
      osx_image: xcode9.1
      env:
        - OSX_PACKAGES="boost erlang python python3 ant bash coreutils openssl"
    - os: linux
      sudo: false
      addons:
        apt:
          sources:
            - boost-latest
          packages:
            - automake
            - clang
            - libboost1.55-all-dev
            - python3
            - erlang
            - erlang-dev

install:
  - |
     if [[ $TRAVIS ]] && [[ "X$TRAVIS_OS_NAME" = "Xosx" ]]; then
         brew update > /dev/null
         for pkg in $OSX_PACKAGES; do
           [[ "$(brew ls --versions $pkg)" ]] || brew install --force-bottle $pkg
         done
     fi

script:
  - export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
  - env | grep TRAVIS
  - 'if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then CXX=clang++ ./configure --with-openssl=/usr/local/opt/openssl; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then CXX=clang++ ./configure; fi'
  - touch TAGS.root
  - make
  - make cpp
  - make python
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then make python3; fi'
  - make java
