<html>
<head>
<link rel="stylesheet" text="text/css" href="/contrail.css">
<title>Scalaris</title>
<style type="text/css">
table { width:100%; margin-top:20%; margin-left:20%; border-spacing:50px}
td { vertical-align:top; overflow:hidden; }
</style>
</head>
<body>

add
<marquee direction=left scrolldelay="10"> The 90s called and they want their web design back. </marquee>
</body>
</html>
