/Makefile
/Emakefile
/config.status
/ct_run.ct*@*
/all_runs.html
/index.html
/.project
/.pydevproject
/.settings
/.externalToolBuilders
/.Makefile.swp
/.make-doc
/config.log
/variables-ct*@*
/erl_crash.dump
/autom4te.cache
/aclocal.m4
/.codepath
*.beam
*~
/ct.log
/result_increment_10_1000.txt
/result_increment_1_10000.txt
/result_read_10_10000.txt
/result_read_1_100000.txt
/Thumbs.db
/python3-api
/TAGS*
/*.log
