<footer class="container">
<div class="footer">
  <div class="footerelem"><a href="http://www.zib.de">
<img src="/images/zib-logo.gif" height="150px"></a>
  </div>
  <div class="footerelem">
    <br><br>
    © 2015 Zuse Institute Berlin<br>
    Takustr. 7<br>
    14195 Berlin<br>
  </div>
  <div class="footerelem" style="height:200px">&nbsp;
    </div>
  <div class="footerelem" style="height:200px">&nbsp;
    </div>

  <div class="footerelem">
    Scalaris received funding from the EU projects:
  </div>
  <br>
  <div class="footerelem"><div class="footerpic">
      <img src="/images/ies-cities-40.png"></div>
    <center>IES Cities</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="/images/4caast-40.png"></div>
    <center>4CaaSt</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="/images/contrail-40.png"></div>
    <center>Contrail</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="/images/selflogo-40.jpg"></div>
    <center>Selfman</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="/images/xtreemos-40.png"></div>
    <center>XtreemOS</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="/images/eu-40.png"></div>
  </div>
</div>
</footer>
