</div> <!-- close the content div -->
<div class="footer">
<div class="footercontent">
  <div class="footerelem">
<img src="{{ root }}/images/ziblogo-white-transparent.png" height="150px">
  </div>
  <div class="footerelem">
    <br><br><br>
    &copy; 2015 Zuse Institute Berlin<br>
    Takustr. 7<br>
    14195 Berlin<br>
    <a href="http://www.zib.de/">www.zib.de</a>
  </div>
  <div class="footerelem" style="height:200px">&nbsp;
    </div>
  <div class="footerelem" style="height:200px">&nbsp;
    </div>

  <div class="footerelem">
    Scalaris received funding from the EU projects:
  </div>
  <br>
  <div class="footerelem"><div class="footerpic">
      <img src="{{ root }}/images/ies-cities-40.png"></div>
    <center>IES Cities</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="{{ root }}/images/4caast-40.png"></div>
    <center>4CaaSt</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="{{ root }}/images/contrail-40.png"></div>
    <center>Contrail</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="{{ root }}/images/selflogo-40.jpg"></div>
    <center>Selfman</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="{{ root }}/images/xtreemos-40.png"></div>
    <center>XtreemOS</center>
  </div>
  <div class="footerelem"><div class="footerpic">
      <img src="{{ root }}/images/eu-40.png"></div>
  </div>
</div>
</div>
