
The Scalaris project was initiated and is mainly developed by Zuse
Institute Berlin. It received funding from the EU projects Selfman,
XtreemOS, 4CaaSt, Contrail, and IES Cities. More information (papers,
videos) can be found <a href="http://www.zib.de/node/756">here</a>.

<img src="images/4caast-40.png">
<img src="images/contrail-40.png">
<img src="images/eu-40.png">
<img src="images/ies-cities-40.png">
<img src="images/ist-40.gif">
<img src="images/scalaris-logo.png">
<img src="images/selflogo-40.jpg">
<img src="images/xtreemos-40.png">
<img src="images/ziblogo-40.gif">

<br>
<br>
&copy; 2015 Zuse Institute Berlin, Takustr. 7, 14195 Berlin, <a href="http://www.zib.de/">www.zib.de</a>

