<html>
<head>
<link rel="stylesheet" text="text/css" href="/contrail.css">
<title>Scalaris</title>
<style type="text/css">
table { width:100%; margin-top:20%; margin-left:20%; border-spacing:50px}
td { vertical-align:top; overflow:hidden; }
</style>
</head>
<body>

  <form action="/add" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input name="_method" type="hidden" value="post" />
    </div>
    Add Node
    <input id="submit" name="commit" type="submit" value="Go" />
  </form>

  <form action="/list" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input name="_method" type="hidden" value="post" />
    </div>
    List Nodes
    <input id="submit" name="commit" type="submit" value="Go" />
  </form>

<marquee direction=left scrolldelay="10"> The 90s called and they want their web design back. </marquee>
</body>
</html>
