<html>
<head>
<link rel="stylesheet" text="text/css" href="/contrail.css">
<title>Control Panel</title>
<style type="text/css">
table { width:100%; margin-top:20%; margin-left:20%; border-spacing:50px}
td { vertical-align:top; overflow:hidden; }
</style>
</head>
<body>

<table>
<tr>
  <td>
    <blink><a href="/scalaris">Scalaris</a></blink>
  </td>
  <td>
    <a href="/hadoop">Hadoop</a>
  </td>
</tr>
<tr>
  <td>
    <a href="/xtreemfs">XtreemFS</a>
  </td>
  <td>
    <a href="/one">OpenNebula</a>
  </td>
</tr>
<tr>
</tr>
</table>
<marquee direction=left scrolldelay="10"> The 90s called and they want their web design back. </marquee>
</body>
</html>
