<html>
<head>
<title>Scalaris Instances</title>
</head>
<body>

<h2>Scalaris Create Result</h>
<p>
Valid: <%= @valid %><br>
Id: <%= @id %><br>
Error:<%= @error %><br>
Parameters:<%= @params %><br>
</p>

</body>
</html>
