/doc
/doc-devel
/doc-doxygen
/scalaris
/scalaris-examples.jar
/chordsharp4j-examples.jar
/Scalaris.properties
/chordsharp4j.jar
/ChordSharpConnection.properties
/classes
/scalaris.jar
/scalaris-lib.jar
/chordsharp4j-lib.jar
/bin
/chordsharp4j.zip
/chordsharp4j.tar.bz2
/scalaris.tar.bz2
/chordsharp4j.tar.gz
/scalaris.properties
/scalaris.zip
/scalaris.tar.gz
/.ant-targets-build.xml
/junit*.properties
/junitvmwatcher*.properties
/scalaris-java.conf
