body {	
  margin-bottom: 1em;
  color: #333333;
  background-color: white;
  font-size: 14px;	
  font-family: arial, helvetica, sans-serif;
  line-height: 1.4em;
  /* Center in IE5.5 */
  /*text-align: center;*/
  padding: 25px; 
}

img { 
  border: none;
} 

h1 { 
  font-size: 2em;
  letter-spacing: 1px;
  font-family: verdana, helvetica, sans-serif;
}

h2 { 
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #008080;
  font-family: tahoma, helvetica, sans-serif;
 }

h2.name { 
  margin-top: 25px;
  letter-spacing: 1px;
  color: #344f73;
  font-family: tahoma, helvetica, sans-serif;
}

h3 {   
 padding: 0px;
  letter-spacing: 1px;
 font-size: 15px;
 margin-top: 20px;
 margin-bottom: 8px; 
  color: #008080;
  font-family: tahoma, helvetica, sans-serif;
}

p { 
 margin-top: 6px;
 margin-bottom: 6px; }

div.logo { 
  float: left;
  height: 85px;
}

.header {  
  height: 100px;
} 

.left{ 
  height: 86px;
  float:left;
  text-align: left;
  vertical-align: textbottom;
}

.right{ 
  margin-top: 0px;
  margin-left: 150px;
  text-align: right;
}

.bottom { 
  text-align: right;
  color: #003838;
  clear: both;
  text-align: right;
  min-width: 120px;
  padding:10px;
}

a {		
  color: #008080;
  text-decoration: underline;
  font-weight: 100;
}

a:hover {	
  color: #008080;
  text-decoration: underline;
}

.menua { 
  color: #759e7e;
  color: #008080;
  text-decoration: none;
  font-weight: 900;
 }

a.menu:hover {	
  color: #008080;
  text-decoration: underline;
}

.pieLabel a {  
  color: #FFFFFF;
  text-decoration: underline;
}

div.submenu {		
  margin-left: 10px;
}

div.green {
  color: #008080;
  float: left;
}

.middle { 
  float:none;
  margin: 0px;
  margin-left: 124px; 
  margin-top: 1px;
  color: #003838;
  border: 1px solid #008080;
  background-color: #d5dede;
  padding:10px;
}

.middleleft { 
  float: left;
  margin-top: -1px;
  color: #003838;
  background-color: #d5dede;
  padding:10px;
  padding-top: 5px;
}

.middleright { 
  color: #003838;
  background-color: #d5dede;
  padding:10px;
  padding-top: 0px;
  text-align: right;
  float:right;
}

div.specmenu {
  float:none;
  margin-top: 10px;
}

.menubar { 
  font-family: tahoma, helvetica, sans-serif;
  float: left;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  padding-top: 1px;
  text-align: left;
}

div.nothighlighted {		
  float: top;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0px;
  border: 0px;
  padding: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: -1px;
  border: 1px solid #008080;
  width: 113px;
  padding-left: 8px;
}

div.nothighlightedlast {		
  float: top;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #008080;
  width: 113px;
  padding-left: 8px;
}

div.hsubnothighlighted {		
  text-align: center;
  font-size: 13px;
  float: left;
  padding: 0px;
  margin-left: -1px;
  border: 1px solid #008080;
  border-top: 0px;
  width: 92px;
  padding-bottom: 1px;
}


div.hsubhighlighted {		
  text-align: center;
  font-size: 13px;
  float: left;
  padding: 0px;
  margin-left: -1px;
  border: 1px solid #008080;
  border-top: 0px;
  padding-bottom: 1px;
  width: 92px;
  background-color: #c5cece; 
  color: #d5dede;
}

div.hvsubnothighlighted {		
  text-align: left;
  float: top;
  padding: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: -1px;
  margin-left: 0px;
  border: 0px solid #008080;
  width: 92px;
}

div.hvhsubnothighlighted {		
  text-align: left;
  float: left;
  padding: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: -1px;
  margin-left: 0px;
  border: 0px solid #008080;
  width: 31px;
}

div.hvhsubhighlighted {		
  text-align: left;
  float: left;
  padding: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: -1px;
  margin-left: 0px;
  border: 0px solid #008080;
  background-color: #c5cece; 
  width: 31px;
}

div.hvsubhighlighted {		
  text-align: left;
  float: top;
  padding: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  margin-bottom: -1px;
  margin-left: 0px;
  border: 0px solid #008080;
  width: 92px;
  background-color: #c5cece; 
  color: #d5dede;
}

div.subnothighlighted {		
  float: top;
  padding: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: -1px;
  margin-left: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid #008080;
  width: 97px;
  padding-left: 5px;
}

div.highlighted {		
  float: top;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 114px;
  padding-left: 8px;
  background-color: #d5dede;
  color: #008080;
  text-decoration: none;
  font-weight: 900;
  border: 1px solid #008080;
  margin-bottom: -1px;
  border-right: 0px solid #d5dede;
}

div.highlightedlast {		
  float: top;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 114px;
  padding-left: 8px;
  background-color: #d5dede;
  color: #008080;
  text-decoration: none;
  font-weight: 900;
  border: 1px solid #008080;
  border-right: 0px solid #d5dede;
}

div.subhighlighted {		
  float: top;
  padding: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  background-color: #d5dede;
  color: #008080;
  text-decoration: none;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 1px;
  width: 98px;
  border: 1px solid #008080;
  margin-bottom: -1px;
  margin-left: 20px;
  border-right: 0px solid #d5dede;
}

hr.bottomhr { 
  background-color: #99cc00;
  height: 3px;
  border: none;
}

br.br_class {		
  clear: both;
}

ul {
  list-style-type: square;
}

circle.node {
    fill: #39c;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#stats ul {
    display:inline;
    list-style-type:none;
}

#stats ul li {
    float:left;
    list-style-position:inside;
}

.clear {
    clear: both;
}
